venv/
.venv/
.pytest_cache/
jigsawstack.egg-info/

__pycache__/
/.pytest_cache/
/.vscode/
/.idea/


*.ipynb_checkpoints/
*.ipynb

.env
build/  
dist/ 
/demo

test.py
test_web.py

.eggs/
.conda/


main.py
.python-version
pyproject.toml
uv.lock

.ruff_cache/
local_tests/*
